body{
background: url(https://png.pngtree.com/thumb_back/fh260/background/20210501/pngtree-pink-grey-vintage-paper-aesthetic-image_701801.jpg);
background-position: center;
background-size: cover;
position: static;
padding-top: 5%;
padding-bottom: 5%;
}
.flex{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 40px;
}
.rect {
    margin: auto;
    text-align: left;
    /* height: 80%;
    width: 80%; */
    position: static;
    margin: 5%;
    padding-top:5%;
   /* padding-left:10%; */
   padding-bottom: 5%;
    background-color: #9f86bb;
    /* border-color: black; 
    border-width: 5%; */
    border:2px solid rgb(93, 58, 93);
  }
h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    color: rgb(93, 58, 93) ;
}
#name {
    padding-bottom: 3%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
.formstyle{
    background-color: aqua;
    margin: auto;   
    color: rgb(93, 58, 93);
}
#name input{
    height: 1rem;
    width: 10rem;
    padding: 0.1rem;
    border-radius: 5px;
    font-size: 1rem;
    background-color: rgb(214, 195, 231);
}
.error{
    padding-left: 3%;
    color: rgb(148, 6, 6);
    font-size: 0.85rem;
    font-family: 'Playfair Display', serif;
}
#email {
    padding-bottom: 3%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
#phone {
    padding-bottom: 3%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
#email input{
    height: 1rem;
    width: 15rem;
    padding: 0.1rem;
    border-radius: 5px;
    font-size: 0.6rem;
    background-color: rgb(214, 195, 231);
}
#phone input{
    height: 1rem;
    width: 10rem;
    padding: 0.1rem;
    border-radius: 5px;
    font-size: 1rem;
    background-color: rgb(214, 195, 231);
}
.button{
    /* position: static;
    text-align: center;
    justify-content: center; */
    /* margin-left: calc(50% - 50px); */
    border-radius: 10px;
    width: 100px;
    height: 35px;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    color: white;
    background-color: rgb(93, 58, 93);
    cursor: pointer;
}
.button:hover{
    color: #9f86bb; 
    background-color: rgb(62, 39, 62);
}