body{
background: url(https://png.pngtree.com/thumb_back/fh260/background/20210501/pngtree-pink-grey-vintage-paper-aesthetic-image_701801.jpg);
background-position: center;
background-size: cover;
position: static;
padding-top: 5%;
padding-bottom: 5%;
}
.rect {
    margin: auto;
    text-align: left;
    height: 60%;
    width: 60%;
    position: static;
    padding-top:5%;
   /* padding-left:10%; */
   padding-bottom: 5%;
    background-color: #9f86bb;
    /* border-color: black; 
    border-width: 5%; */
    border:2px solid rgb(93, 58, 93);
  }
h1 {
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Playfair Display', serif;
    color: rgb(93, 58, 93) ;
}
#name {
    padding-bottom: 3%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}
.formstyle{
    position: relative;
    padding-left: 10%;
    /* padding-right: 20%; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: rgb(93, 58, 93);
}
#name input{
    width: 40%;
    padding: 0.5%;
    border-radius: 5px;
    font-size: 1.25rem;
    background-color: rgb(214, 195, 231);
}
.error{
    padding-left: 3%;
    color: rgb(148, 6, 6);
    font-size: 0.85rem;
    font-family: 'Playfair Display', serif;
}
#email {
    padding-bottom: 3%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}
#phone {
    padding-bottom: 3%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}
#email input{
    width: 50%;
    padding: 0.5%;
    border-radius: 5px;
    font-size: 1.25rem;
    background-color: rgb(214, 195, 231);
}
#phone input{
    width: 35%;
    padding: 0.5%;
    border-radius: 5px;
    font-size: 1.25rem;
    background-color: rgb(214, 195, 231);
}
.button{
    margin-left: 47%;
    border-radius: 0;
    width: 100px;
    height: 50px;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(93, 58, 93);
}
.button:hover{
    color: #9f86bb; 
    background-color: rgb(62, 39, 62);
}