body{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

#bground1{
background: url(https://png.pngtree.com/thumb_back/fh260/background/20210501/pngtree-pink-grey-vintage-paper-aesthetic-image_701801.jpg);
background-position: center;
background-size: cover;
position: static;
padding-top: 10%;
padding-bottom: 10%;
}
.rect {
    margin: auto;
    text-align: left;
    height: 70%;
    width: 40%;
    position: static;
    padding-top:10%;
   padding-left:10%;
   padding-bottom: 10%;
     background-color: #BE9FE1; 
  }
.name {
    font-weight: 900;
    text-align: left;
    font-size: 3.5rem;
    font-family: 'Playfair Display', serif;
    position: static;
   padding-left:10%;
    
}
.intro {
    font-size: 1rem;
    padding-left: 10%
}

.my_img{
    padding-top: 2%;
    text-align: center;
}
.my_pic{
    width:50%;
}

#bground2 {
    background-size: cover;
    background-position: center;
    background-color: #8562ac;
    position: static;
    padding-top: 10%;
    padding-bottom: 10%;
}
.heading1{
    font-weight: 900;
    text-align: left;
    font-size: 3.5rem;
    font-family: 'Playfair Display', serif;
    color: white;
    position: static;
    padding-top: 3%;
   padding-left:10%;
    
}
.content1 {
    margin: auto;
    font-size: 1.5rem;
    color: white;
    text-align: left;
    height: 70%;
    width: 40%;
    position: static;
   padding-left:10%;
   padding-right:10%;
   /* padding-bottom: 5%; */
  }
  #bground3 {
    background-size: cover;
    background-position: center;
    background-color: #F1F1F6;
    position: static;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .heading2{
    font-weight: 900;
    text-align: left;
    font-size: 3.5rem;
    font-family: 'Playfair Display', serif;
    color: rgb(93, 58, 93);
    position: static;
    padding-top: 3%;
   padding-left:10%;
    
}
.content2 {
    margin: auto;
    font-size: 2rem;
    color: rgb(93, 58, 93);
    text-align: left;
    /* height: 70%;
    width: 40%; */
    position: static;
   padding-left:10%;
   padding-top:5%;
   /* padding-right:10%; */ 
   /* padding-bottom: 5%; */
  }
  #bground6 {
    background-size: cover;
    background-position: center;
    background-color: #3b2f49;
    position: static;
    padding-top: 2%;
    padding-right: 10%;
    padding-bottom: 10%;
}
.contact {

    color: white;
    padding-left: 10%;
}
.all_cont{
    padding-top:5%;
    text-align: center;
}